.galery {
  display: flex;
  width: 100%;

  transition: 2s;
}
.galery img {
  width: 100%;
}
.wrap {
  width: 500px;
  margin: auto;
  border-radius: 5px;
  overflow: hidden;
}
#slide1:target ~ .galery {
  margin-left: 0px;
}
#slide2:target ~ .galery {
  margin-left: -100%;
}
#slide3:target ~ .galery {
  margin-left: -200%;
}
#slide4:target ~ .galery {
  margin-left: -300%;
}
#slide5:target ~ .galery {
  margin-left: -400%;
}
#slide6:target ~ .galery {
  margin-left: -500px;
}
.navigation a {
  display: inline-block;
  height: 20px;
  width: 20px;
  font-size: 0;
  background-color: burlywood;
  border-radius: 50px;
  margin: 3px;
}
.navigation a:hover {
  background-color: cadetblue;
  transition: 1s;
}
.navigation {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  margin-top: -50px;
}
@media screen and (max-width: 756px) {
  .wrap {
    width: 300px;
  }
}
