* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(29, 16, 124);
  color: white;
  font-family: anton;
}
.container {
  padding-top: 50px;
}
.content1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
h1 {
  width: 400px;
  font-size: 150px;
}

@media screen and (max-width: 767px) {
  .container {
  }
  .content1 {
    width: 300px;
    flex-direction: column;
  }
}
