* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(29, 16, 124);
  color: white;
  font-family: anton;
  text-decoration: none;
  max-width: 100%;
}
header {
  text-align: center;
}
.container-scroll-right {
  font-size: 40px;
}

.content1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 60px;
}
h1 {
  width: 400px;
  font-size: 150px;
}
.boxkanan {
  transform: rotate(10deg);
}
.container-menu {
  font-family: roboto, arial;
  background-color: rgb(75, 149, 213);
  display: flex;
  flex-direction: column;

  align-items: center;
  margin-top: 50px;
  padding-top: 60px;
}
.judul {
  color: rgb(72, 68, 68);
  font-size: 80px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}
.menu {
  width: 900px;
  font-size: 30px;
  background-color: rgb(72, 68, 68);
  padding: 20px;
  margin-bottom: 30px;
}
.menu li {
  display: flex;
  justify-content: space-between;
}
.menu p {
  display: flex;
  justify-content: space-between;
}
h2 {
  margin-bottom: 20px;
  margin-top: 20px;
}
li {
  list-style: none;
}
@media screen and (max-width: 767px) {
  header img {
    width: 150px;
  }
  h1 {
    width: 100%;
    font-size: 80px;
    margin: auto;
    text-align: center;
  }
  .content1 {
    flex-direction: column;
  }
  .boxkanan {
    width: 100%;
    transform: rotate(0deg);
    margin: auto;
  }
  .menu {
    font-size: 20px;
    width: 400px;
  }
}
