* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(29, 16, 124);
  color: white;
  font-family: anton;
  text-decoration: none;
  max-width: 100%;
}
header {
  text-align: center;
}
header img {
  width: 200px;
}
.container-scroll-right {
  font-size: 40px;
}

.content1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 60px;
}
h1 {
  width: 400px;
  font-size: 150px;
}

.boxkanan {
  transform: rotate(10deg);
  width: 400px;
  height: 100%;
  margin-top: 50px;
  background-color: brown;
}
.container-menu {
  font-family: roboto, arial;
  display: flex;
  flex-direction: column;
  background-color: rgb(33, 148, 236);
  align-items: center;
  margin-top: 50px;
  padding-top: 60px;
}
.judul {
  color: rgb(72, 68, 68);
  font-size: 80px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}
.menu {
  width: 900px;
  font-size: 30px;
  background-color: rgb(240, 231, 231);
  padding: 20px;
  margin-bottom: 30px;
}
.menu li {
  display: flex;
  justify-content: space-between;
  color: black;
}
.menu p {
  display: flex;
  justify-content: space-between;
  color: black;
}
h2 {
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: 900;
  color: coral;
}
li {
  list-style: none;
}

.galery {
  display: flex;
  transition: 2s;
}
.wrap {
  width: 500px;
  margin: auto;
  border-radius: 5px;
  overflow: hidden;
}
#slide1:target ~ .galery {
  margin-left: 0px;
}
#slide2:target ~ .galery {
  margin-left: -100%;
}
#slide3:target ~ .galery {
  margin-left: -200%;
}
#slide4:target ~ .galery {
  margin-left: -300%;
}
#slide5:target ~ .galery {
  margin-left: -400%;
}
#slide6:target ~ .galery {
  margin-left: -500px;
}
.navigation a {
  display: inline-block;
  height: 20px;
  width: 20px;
  font-size: 0;
  background-color: burlywood;
  border-radius: 50px;
  margin: 3px;
}
.navigation a:hover {
  background-color: cadetblue;
  transition: 1s;
}
.navigation {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  margin-top: -50px;
}
@media screen and (max-width: 756px) {
  .wrap {
    width: 300px;
  }
}

footer {
  text-align: center;
  margin-top: 30px;
  font-family: arial;
  margin-bottom: 50px;
  line-height: 2;
}
footer .venmo {
  width: 30px;
}
footer .zelle {
  width: 30px;
  margin-top: 20px;
}
@media screen and (max-width: 767px) {
  header img {
    width: 150px;
  }
  h1 {
    width: 100%;
    font-size: 80px;
    margin: auto;
    text-align: center;
  }
  .content1 {
    flex-direction: column;
    align-items: center;
  }
  .content1 img {
    object-fit: contain;
    max-width: 80%;
  }
  .boxkanan {
    transform: rotate(0deg);
  }
  .menu {
    font-size: 20px;
    width: 400px;
  }
}
